<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Title</label>
  <div class="col-sm-10">
    <input type="text" ng-model="track.title" class="form-control" id="title" placeholder="Track Title Here"/>
  </div>
</div>
<div class="form-group">
  <label for="singer" class="col-sm-2 control-label">Singer</label>
  <div class="col-sm-10">
    <input type="text" ng-model="track.singer" class="form-control" id="singer" placeholder="Singer"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>